// html{ height: 100%; }
body{ overflow: hidden; background: #000;  }
body, p, ul{ margin: 0; padding: 0; font: 12px/1.231 normal;}
ul{ font-size: 12px; line-height: 16px; }
li{ list-style: none; }
.view{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.loading-view{ background: url('../images/loading-bg.jpg') no-repeat; background-size: 100%;  }
.logo{ background: url('../images/logo.png') no-repeat; position: absolute; top: 12px; right: 24px; width: 50px; height: 49px; z-index: 3; }
.loading-bar{ width: 215px; height: 17px; border: #62768a solid 1px; background: #00163f; border-radius: 5px; box-sizing: border-box; margin: 0 auto; position: relative; top: 45%; }
.loading-bar p{ background: url('../images/loading-bar.png'); width: 0%; height: 13px; border: #12161d solid 1px; border-radius: 5px; position: relative; -webkit-transition: width 0.4s ease-in-out; }
.loading-bar p:after{ content: ""; position: absolute; right: -30px; width: 37px; height: 20px; background: url('../images/loading-car.png') no-repeat; }
/* background: url('../images/start-bg.jpg') no-repeat center; background-size: auto 100%;
position: relative; height: 100%;
text-align: center;*/
.start-view{ display: none; text-align: center; background: url('../images/game-bg.jpg') no-repeat center; background-size: auto 100%; }
.start-view .response{ height: 100%; margin: 0 auto; display: inline-block; position: relative; }
.start-view .response img{ height: 100%; }
.start-view .box{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.start-view .rule-box{ background: rgba(48, 74, 100, 0.89); border: #5e86a4 solid 1px; width: 258px; height: 165px; border-radius: 5px; position: absolute; bottom: 35px; left: 50%; margin-left: -129px; z-index: 1; box-sizing: border-box; padding: 10px; text-align: left; font-size: 14px; }
.start-view .rule-box .button-group{ padding: 10px 0 5px; overflow: hidden; text-align: center; line-height: 34px; }
.start-view .rule-box .start-btn{ background: url('../images/start-btn.png') no-repeat; background-size: 100%; width: 100px; height: 40px; display: inline-block; height: 34px; margin-right: 23px; vertical-align: middle; }
.start-view .rule-box .rule-btn{ background: url('../images/rule-btn.png') no-repeat; width: 80px; height: 28px!important; display: inline-block; vertical-align: middle; }
.start-view .rule-box p{ -webkit-transform: scale(0.9); white-space: nowrap; -webkit-transform-origin: left; }
.start-view .big-zongzi{ background: url('../images/big-zongzi.png') no-repeat; width: 220px; height: 310px; margin: 0 auto; height: 310px; background-size: 100%; margin-top: 47px; }


.start-view .game-detail{ display: none; }
.start-view .pack-panel{ background: url('../images/pack-panel.png') no-repeat; width: 96px; height: 63px; line-height: 63px; position: absolute; height: 63px; right: 10px; top: 118px;  }
.start-view .pack-panel .pack{ background: url('../images/pack.png') no-repeat; width: 29px; height: 35px; display: inline-block; height: 35px; vertical-align: middle; }
.start-view .pack-panel .multiplication{ background: url('../images/multiplication.png') no-repeat; width: 20px; height: 19px; display: inline-block; height: 19px; vertical-align: middle; }
.start-view .light-box{ background: rgba(48, 74, 100, 0.89); border: #5e86a4 solid 1px; width: 258px; height: 175px; border-radius: 5px; position: absolute; bottom: 35px; left: 50%; margin-left: -129px; z-index: 1; }
.start-view .light-box .title{ background: url('../images/light-box-title.png') no-repeat; width: 116px; height: 40px; display: block; position: relative; margin: 0 auto; top: -22px; }
.start-view .light-box ul{ }
.start-view .light-box li{ background: url('../images/icon-bg.png') no-repeat 0 0; width: 50px; height: 56px; line-height: 56px; float: left; margin: 0 7px 8px; position: relative; -webkit-filter: grayscale(1); }
.start-view .light-box li:before{ content: ''; position: absolute; left: -6px; top: -6px; background: url('../images/lock.png') no-repeat; width: 20px; height: 25px; display: block; height: 25px; }
.start-view .light-box li.active{ background-position: 0 -56px; -webkit-filter: inherit; }
.start-view .light-box li.active:before{ display: none; }
.start-view .light-box li img{ width: 44px; height: 48px; vertical-align: middle; }
#game-bg{ text-align: left; display: none; }
// canvas{ position: relative!important; height: 100%; margin: 0 auto; display: none; }

.rule-dialog{ position: absolute; top: 0; height: 100%; width: 100%; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.75); display: none; z-index: 5; }
.rule-dialog .rule-dialog-box{ background: url('../images/rule-dialog-bg.png') no-repeat; width: 290px; height: 240px; position: relative; top: 30%; margin: 0 auto; }
.rule-dialog .rule-dialog-box .title{ background: url('../images/rule-dialog-title.png') no-repeat; width: 115px; height: 39px; margin: 0 auto; position: relative; top: -20px; display: block; }
.rule-dialog .rule-dialog-box li{ margin-bottom: 10px; margin-left: 10px; }
.rule-dialog .rule-dialog-box li i{ color: #fff; font-style: normal; }
.rule-dialog .rule-dialog-box .close{ background: url('../images/close.png') no-repeat; width: 26px; height: 29px; display: inline-block; position: absolute; right: -8px; top: -8px; }
